#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container wrapper">
    <div class="span-18">
        <h2>${info.title}</h2>
    </div>
    <div class="span-6 last">

    </div>
    <div class="span-24 underline">
        <div class="tab-menu">
            <ul>
                <li class="active"><a href="/" id="current">About</a></li>
                <li><a href="/post">New</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/drafts">Drafts</a></li>                
                <li><a href="/settings">Settings</a></li>
            </ul>
        </div>
    </div>
    <!--
    <div class="span-6 last">
        <div id="logincol">
            #{if user}                
                <a id="sign-in-btn" class="app-btn rpxnow" href="@{Admin.logout()}">
                    Sign Out
                </a>
            #{/if}
            #{else}
                <a id="sign-in-btn" class="app-btn rpxnow" href="@{Admin.login()}">
                    Admin
                </a>
            #{/else}
        </div>
    </div>
    -->
    <div class="span-18">
        <div id="maincol">
            About
        </div>
    </div>    
</div>
