html, body, .container { height: 100%; }
body > .container { height: auto; min-height: 100%; }


body {
    font-family: 'lucida grande',Verdana,sans-serif;
}

a {
    font-weight: bold;
}

.wrapper {
    padding-top: 20px;    
}

#content {
    padding-bottom: 3em;
}

a.app-btn {
    background: #EEE;
    color: #666;
    text-decoration: none;
    text-align: center;
    border: 0;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;    
    font-size: 1.5em;
    font-weight: normal;
}

a:hover.app-btn {
    background: #800000; color: #FFF;
}

.tab-menu {

}

.tab-menu ul {
    margin: 0;
    padding: 0 0 10px 0;
    margin: 0 0.625em 0 0;
}

.tab-menu ul li {
    list-style: none;
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
}

.tab-menu ul li a {
     background: #EEE;
     color: #666;
     text-decoration: none;
     text-align: center;
     border: 0;
     padding: 5px 10px 5px 10px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;     
     font-size: 1.5em;
     font-weight: normal;
}

.tab-menu ul li.active a {
    color: #800000;
}

.tab-menu ul li a:hover {
    background: #800000; color: #FFF;
}

.tab-menu ul li.active a:hover {
    background: #800000; color: #FFF;
}

.post-list {
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 12px;    
}

.post-list ul {
    padding-left: 0;
    margin-left: 0;
}

.post-list ul li {
    list-style: none;
}

.post-list table td.post-name {
    font-weight: bold;
    width: 420px;
    border-bottom: solid 1px #EEE;
}

.post-list table td.post-published {
    width: 40px;
}

.post-list table td.post-author {
    width: 90px;
}

.post-list table td.link {
    width: 25px;
}

.post-list table td.link a {
    color: #800000;
}

.panel {
    padding: 5px;
}

.pseudo-btn {
    cursor: pointer;
}

#post-title-input, #post-title-preview {    
    font-size: 14px;
    font-weight: bold;
}

#post-title-input {
    border: none;
    border-bottom: solid 1px #EEE;
    margin-right: 20px;
    padding-bottom: 5px;
    width: 100%;
}

#post-title-preview {
    margin-top: 5px;
    margin-left: 18px;
}

#post-body-input, #post-body-preview {    
    font-size: 12px;
}

#post-body-preview {
    line-height: 10px;
}

.maincol {
    min-height:500px; /* for modern browsers */
    height:auto !important; /* for modern browsers */
    height:500px; /* for IE5.x and IE6 */
    padding: 10px;
}

.logincol {
    text-align: right;
    padding-bottom: 10px;
    border-bottom: solid 1px #333;
}

.underline {
    border-bottom: solid #333 1px;
}

.right-justify {    
    float: right;        
}

.tab-menu ul.right-justify li {
    margin-right: 0;
    padding-right: 0;
}

.footer {
    
}